body {
    background-color: #362e2fee;
    height: 3444px;
    margin: 0%;
}
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.navbar {
    background-color: black;
    padding: 10px 0px;
}
.navbar ul {
    overflow: auto;
    margin: 0%;
}

#navName {
    float: left;
    color: orangered;
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    font-size: xx-large;
    margin-left: 10px;
    margin: 0px 20px;
}
#homeMargin{
    margin-left: 700px;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
    padding-top: 0px;
}

.navbar li a {
    padding: 5px 3px;
    padding-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar li a:hover {
    color: orangered;
    border-bottom: 2px solid orangered;
}
#Home{
    display: flex;
    flex-flow: row wrap;
    margin-top: 100px;
}
#HomeDesc {
    box-sizing: border-box;
    background-color: #efdfc8;
    border: 2px solid white;
    border-radius: 20px;
    width: 600px;
    height: 300px;
    padding: 25px 40px;
    margin: 0px 0px 0px 150px;
}
#HomePic{
    margin-left: 250px;
}
#HomePic img{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;
}