body {
    background-color: #000000ee;
    height: 3444px;
    margin: 0%;
}
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin: 0%;
    padding: 0%;
}
.navbar {
    background-color: black;
    padding: 0px 0px 5px 0px;
}
.navbar ul {
    overflow: auto;
    margin: 0%;
}

#navName {
    float: left;
    color: orangered;
    /* font-family: 'Architects Daughter', cursive; */
    font-weight: 700;
    font-size: 35px;
    margin: 5px 20px 5px 10px;
}
#homeMargin{
    margin-left: 550px;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 20px;
    padding-top: 0px;
}

.navbar li a {
    padding: 5px 3px 5px 3px;
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.navbar li a:hover {
    color: orangered;
    border-bottom: 3px solid orangered;
}
#Home{
    display: flex;
    flex-flow: row wrap;
    padding-top: 100px;
}
#HomeDesc {
    box-sizing: border-box;
    background-color: #efdfc8;
    border: 2px solid white;
    border-radius: 20px;
    width: 600px;
    height: 300px;
    padding: 25px 40px;
    margin: 0px 0px 0px 150px;
}
#HomePic{
    margin-left: 250px;
}
#HomePic img{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 50%;
}